* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.main {
    font-family: 'Hanken Grotesk', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 18px;
}

.container {
    height: 100%;
    width: 100%;
    /*padding: 50px;*/
    /*box-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.1);*/
}

.container__results {
    box-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}

.first__part {
    font-weight: 700;
    width: 80%;
    color: white;
    padding: 20px;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.second__part {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 700;
}

.button-18 {
    align-items: center;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0;
    overflow: hidden;
    padding: 13px 16px;
    width: 90%;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
    background-color: #16437E;
    color: #ffffff;
}

.button-18:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}

.button-18:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}
.center__secondPart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px 0 10px 0;
    border-radius: 10px;
    width: 90%;
}
.circle{
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.circle h1{
    font-size: 50px;
}
.text__main{
    margin: 10px 0 25px 0;
}
.text__results{
    margin-bottom: 10px;
}
.text__scored{
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
    width: 70%;
}
.text__column{
    display: flex;

}
.text__column p {
    margin: 0 0 0 10px;
}
